*{margin: 0px; padding: 0px; box-sizing: border-box;}

#phan-dau{
    background-color:#eeeeee;
    height: 290px;
    margin-bottom: 10px;
}

#phan-than{
    bbackground-color: aqua;
    display: flex;
}

#phan-than #phan-noi-dung ul li a:hover{
    background-color: orange;
}
#phan-noi-dung{
    bbackground-color: chartreuse;
    width: 860px;
    border: #e3e3e3 1px solid;
}

#phan-phai{
    zbackground-color: cornflowerblue;
}

#phan-phai ul li a{
    text-decoration: none;    
}

#phan-phai ul li a:hover{
    background-color: orange;
}

#phan-chan{
    background-color: blueviolet;
}

.menu{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    color: #eeeeee; 
}

#mau-nen-menu{
    background-color: #0998d4;
}

#phan-dau-2{
    display: flex;    
}

.do-rong-chung{
    width: 1170px;
    margin: 0px auto;
}

.menu li a{
    text-decoration: none;
    display: block;
    line-height: 50px;
    border: black 1px solid;
}

.menu li a:hover{
    background-color: orange;}

.menu li{
    width: 100%;
    text-align: center;}

#anh-poster{
    width: auto;
    height: auto;
}
#lk-mxh{
    margin: 5px 0px 5px 0px;
}

#phan-than #phan-noi-dung ul li a{
    text-decoration: none;
}

#phan-chan{
    background-color: #0998d4;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#phan-noi-dung{
    width: 880px; hheight: 675px;
}

#phan-noi-dung h3{
    background-color: #f5f5f5;
}

.khoi-noi-dung{
    display: flex;
    justify-content: space-between;
    text-align: justify;
}

.khoi-noi-dung-1{
    width: 575px;
    bbackground-color: #0998d4;
    bborder: gray 1px solid;
}

.mau-tin-chinh-trai{
    width: 575px;
    padding: 5px 15px 5px 5px;
}

.avata-lon{
    width: 100%;
}

.avata-nho{
    width: 30px; height: 30px;
    border-radius: 30px;
}

.nhom-thanh-phan-tieu-de{
    display: flex;
}

.tieu-de-bai-viet{
    display: inline;
    color: #327ab6;
}

.cach-day{
    background-color: #327ab6;
    color: white;
}

.tieu-de-bai-viet-va-thoi-gian{
    margin-left: 5px;
}

.khoi-noi-dung-2{
    bborder: gray 1px solid;
    padding: 5px 5px 5px 15px;
}

.nhom-thanh-phan-tieu-de{
    margin-bottom: 7px;
}