*{margin: 0px; padding: 0px; box-sizing: border-box;}

#phan-dau{
    background-color:#eeeeee;
    height: 290px;
    margin-bottom: 10px;

}

#phan-than{
    zbackground-color: aqua;
    display: flex;
}

#phan-than #phan-noi-dung ul li a:hover{
    background-color: orange;
}
#phan-noi-dung{
    zbackground-color: chartreuse;
    width: 860px;
}

#phan-phai{
    zbackground-color: cornflowerblue;
}

#phan-phai ul li a{
    text-decoration: none;    
}

#phan-phai ul li a:hover{
    background-color: orange;
}

#phan-chan{
    background-color: blueviolet;
}

.menu{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    color: #eeeeee; 
}

#mau-nen-menu{
    background-color: #0998d4;
}

#phan-dau-2{
    display: flex;
    
}

.do-rong-chung{
    width: 1170px;
    margin: 0px auto;
}

.menu li a{
    text-decoration: none;
    display: block;
    line-height: 50px;
    border: black 1px solid;
}

.menu li a:hover{
    background-color: orange;}

.menu li{
    width: 100%;
    text-align: center;}

#anh-poster{
    width: auto;
    height: auto;
}
#lk-mxh{
    margin: 5px 0px; 5px 0px;
}

#phan-than #phan-noi-dung ul li a{
    text-decoration: none;
}
